
@media all and (max-width: 1000px){

    .btn-list {
        margin-left: 0px;
        padding-left: 150px;       
    }

    .btn {
        font-size: 28px;
        padding: 0;        
        margin: 0px 20px;
    }
}

@media all and (max-width: 650px){
   
    

    .btn-list {
        margin-left: 0px;
        padding-left: 110px;  
           
    }

    .btn {
        font-size: 22px;
        padding: 0;        
        margin: 0px 20px;
         
    }
}